<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-orange-500 text-orange-50 font-mono p-20">
    {{/*  <div class="mx-auto bg-gray-900 p-40">  */}}
    <div>
        <header class="mb-8 border-b-4 border-white pb-4">
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="mt-8 text-orange-50">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>