{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul class="flex space-x-4">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}

    {{- $attrs := dict "href" .URL }}

    {{/*  the commented out check here somehow doesn't work idk why  */}}
    {{/*  {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active text-black font-bold" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}  */}}

    {{- $isCurrent := eq $page.RelPermalink .URL }}
    {{- if $isCurrent }}
      {{- $attrs = merge $attrs (dict "class" "active text-black font-bold" "aria-current" "page") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" "hover:text-black hover:font-bold") }}
    {{- end }}

    {{/*  with ancestor check, maybe useful?  */}}
    {{/*  {{- $isCurrent := eq $page.RelPermalink .URL }}
    {{- $isAncestor := and (not $isCurrent) (hasPrefix $page.RelPermalink .URL) }}
    {{- if $isCurrent }}
      {{- $attrs = merge $attrs (dict "class" "active text-black font-bold" "aria-current" "page") }}
    {{- else if $isAncestor }}
      {{- $attrs = merge $attrs (dict "class" "ancestor hover:text-black hover:font-bold" "aria-current" "true") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" "hover:text-black hover:font-bold") }}
    {{- end }}  */}}

    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="hover:text-black hover:font-bold">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
